# Папки, куди Python автоматично зберігає скомпільований байт-код для прискорення наступних запусків
__pycache__/

# Будь-які файли з розширеннями скомпільованого байт-коду: .pyc, .pyo, .pyd (шаблон регулярного виразу [cod])
*.py[cod]

# Папка ізольованого віртуального середовища з бібліотеками (якщо створена з крапкою попереду)
.venv/

# Стандартна папка віртуального середовища проєкту (містить гігабайти завантажених пакетів, які відновлюються через requirements.txt)
venv/

# Локальні файли баз даних (щоб не комітити в репозиторій тестові записи, паролі чи реальні дані)
*.db

# Файли баз даних формату SQLite3
*.sqlite3

# Внутрішня папка налаштувань IDE PyCharm / IntelliJ (кеш індексації, конфігурація вікон розробника)
.idea/

# Внутрішня папка налаштувань редактора Visual Studio Code
.vscode/